@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import 'variables.css';


* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

p {
  font-size: 12px;
  color: var(--textos);

}

h1 {
  font-size: 26px;
  color: var(--titulos);
  padding-bottom: 20px;
}

h2 {
  font-size: 22px;
  color: var(--titulos);

}

h3 {
  font-size: 18px;
  color: var(--titulos);

}



/*----------- Barra de logo ----------- */

.header-page {
  padding: 0.5em 50px;
  background-color: var(--fondo-Cabecera);
}

.header-page a img {
  width: 150px;
}

/*----------- Barra de menú ----------- */

.barra-navegacion {
  padding: 20px 0 20px 0;
  background-color: var(--fondo-Menu);
  color: white;
}

.barra-navegacion ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0 50px 0 50px;
  font-size: 13px;
}

.barra-navegacion ul li {
  margin-right: 15px;
}

/*----------- Pie de página ----------- */

footer {
  background-color: var(--fondo-Footer);
  color: var(--texto-footer);
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
}

footer p,
footer a {
  color: var(--texto-footer);
  text-decoration: none;
  line-height: 2.5;
  width: 50%;
}

footer img {
  height: 40px;
}

/*----------- Botones ----------- */

.boton {
  border-radius: 5px;
  padding: 10px 25px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.boton:hover {
  background-color: var(--gris-claro);
}

.boton_informes {
  border-radius: 15px;
  padding: 10px 25px;
  color: #FFF;
  border: solid white 1px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.boton_informes:hover {
  background-color: var(--gris-claro);

}

.boton_inicio {
  border-radius: 15px;
  padding: 10px 25px;
  color: #FFF;
  border: solid white 1px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.boton_inicio:hover {
  background-color: var(--gris-claro);
}

.paso {
  background-color: var(--magenta);
}

.generales {
  background-color: var(--celeste);
}

/*----------- Mensajes ----------- */

.mensaje {
  width: 400px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  color: #FFffFF;
  font-size: 12px;
  font-weight: 200px;
  text-align: center;

}

.fa {
  font-size: 20px;
}

.mensaje-1 {
  background-color: var(--mensaje-usuario-verde);
  margin-top: 50px;
}

.mensaje-2 {
  background-color: var(--mensaje-usuario-rojo);
}

.mensaje-3 {

  background-color: var(--mensaje-usuario-amarillo);
}